.gwt-TabPanelBottom {
    border: 3px solid #92c1f0;
    overflow: hidden;
    padding: 0px;
}

/** Desktop style rules */
#wappy-mail-shortcut img {
  	width: 64px;
  	height: 64px;
  	background-image: url(images/wappy/mail_64px.png) !important;
}

#wappy-calendar-shortcut img {
  	width: 64px;
  	height: 64px;
  	background-image: url(images/wappy/calendar-icon_64px.png) !important;
}

.wappy-desktop-background {
  	background: url(images/wappy/back_stripes.jpg) repeat;
}

.wappy-startmenu-user {
	background-image: url(images/wappy/fam/user.gif) !important;
	background-repeat:no-repeat;
}

.wappy-startmenu-mail {
	background-image: url(images/wappy/mail_16px.png) !important;
	background-repeat:no-repeat;
}

.wappy-startmenu-calendar {
	background-image: url(images/wappy/calendar-icon_16px.png) !important;
	background-repeat:no-repeat;
}

.wappy-startmenu-groups {
	background-image: url(images/wappy/im16x16.png) !important;
	background-repeat:no-repeat;
}

.wappy-startmenu-bookmarks {
	background-image: url(images/wappy/fam/book.png) !important;
	background-repeat:no-repeat;
}

.wappy-startmenu-logout {
	background-image: url(images/wappy/logout.gif) !important;
	background-repeat:no-repeat;
}

/** Mail style rules. */
.wappy-mail-browser {
    border-top: 3px solid #92c1f0;
}

.wappy-mail-list-header {
  background: #dddddd;
  font-weight: bold;
}

/** Icons */
.wappy-icon-add {
  background: url(images/wappy/fam/add.gif) no-repeat !important;
}

.wappy-icon-remove {
  background: url(images/wappy/fam/delete.gif) no-repeat !important;
}

/** Calendar style rules. */
@import "Calendar.css";

/** Groups style rules. */
@import "Groups.css";





