/** Add css rules here for your application. */
.gwt-TabPanelBottom {
    border: 3px solid #92c1f0;
    overflow: hidden;
    padding: 0px;
}

.wappy-mail-browser {
    border-top: 3px solid #92c1f0;
}

.wappy-mail-list-header {
  background: #dddddd;
  font-weight: bold;
}

.wappy-desktop-background {
  	background: url(images/wappy/back_stripes.jpg) repeat;
}
#wappy-mail-shortcut img {
  	width: 64px;
  	height: 64px;
  	background-image: url(images/wappy/mail_64px.png);
}

#wappy-calendar-shortcut img {
  	width: 64px;
  	height: 64px;
  	background-image: url(images/wappy/calendar-icon_64px.png);
}


/** Calendar style rules. */
@import "Calendar.css";
