/** Groups style rules. */

.wappy-groups-group-icon {
	background-image: url(images/wappy/im16x16.png) !important;
	background-repeat:no-repeat;	
}

.wappy-groups-member-icon {
    background-image: url(images/wappy/fam/user.gif) !important;
	background-repeat:no-repeat;
}


.wappy-groups-admin-icon {
    background-image: url(images/wappy/admin.gif) !important;
	background-repeat:no-repeat;
}

.wappy-groups-owner-icon {
    background-image: url(images/wappy/owner.gif) !important;
	background-repeat:no-repeat;
}
